<a href="https://colab.research.google.com/github/sdewhitt/Market-Anomaly-Detection/blob/main/Financial_Anomaly_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data_path = '/content/drive/MyDrive/Colab Notebooks/Copy of FinancialMarketData.xlsx'

In [ ]:
df = pd.read_excel(data_path)
print(df)

           Unnamed: 0 Unnamed: 1           Unnamed: 2  \
0     EURUSDV3M Index        NaN                  NaN
1                 NaN        NaN       Show/Hide data
2                 676        NaN                 Name
3                 NaN        NaN       Index Currency
4                 NaN        NaN               Ticker
...               ...        ...                  ...
1149              NaN        NaN  2021-03-23 00:00:00
1150              NaN        NaN  2021-03-30 00:00:00
1151              NaN        NaN  2021-04-06 00:00:00
1152              NaN        NaN  2021-04-13 00:00:00
1153              NaN        NaN  2021-04-20 00:00:00

                        Unnamed: 3      Unnamed: 4  Unnamed: 5 Unnamed: 6  \
0     Fixed Income, MM & Interbank             NaN         NaN        NaN
1                                S               H           H          H
2                              NaN             NaN         NaN        NaN
3                              NaN             NaN         NaN        NaN
4                  XAU BGNL Curncy  ECSURPUS Index  BDIY Index  CRY Index
...                            ...             ...         ...        ...
1149                       1727.96           0.339        2271   184.5022
1150                       1685.56           0.303        2103   184.8741
1151                       1743.28            0.44        2092   185.8393
1152                       1742.69           0.467        2140   188.1368
1153                       1779.72           0.492        2432   193.8035

      Unnamed: 7  Unnamed: 8  Unnamed: 9  ... Unnamed: 50 Unnamed: 51  \
0            NaN         NaN         NaN  ...    Treasury        Gold
1              H           H           H  ...           H           H
2            NaN         NaN         NaN  ...         NaN         NaN
3            NaN         NaN         NaN  ...         NaN         NaN
4     DXY Curncy  JPY Curncy  GBP Curncy  ...  TY1 Comdty  GC1 Comdty
...          ...         ...         ...  ...         ...         ...
1149      92.336      108.72       1.376  ...  131.921875      1725.1
1150      93.297      110.29      1.3719  ...    131.1875      1683.9
1151      92.335      109.88      1.3822  ...    131.6875      1741.5
1152      91.852      109.19      1.3737  ...  132.078125      1746.2
1153      91.147      108.09      1.3951  ...  132.546875      1774.9

     Unnamed: 52 Unnamed: 53 Unnamed: 54 Unnamed: 55 Unnamed: 56 Unnamed: 57  \
0          Brent         S&P   Eurostoxx      Nasdaq          EM       Japan
1              H           H           H           H           H           H
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4     CO1 Comdty   ES1 Index   VG1 Index   NQ1 Index  LLL1 Index   TP1 Index
...          ...         ...         ...         ...         ...         ...
1149       60.79      3899.8        3773    13006.25      1103.6      1958.5
1150       64.14      3947.7        3872    12878.25      1103.6        1978
1151       62.74        4064        3920       13570      1103.6        1955
1152       63.67      4132.8        3917    13975.75      1103.6      1961.5
1153       66.51        4127        3902    13802.75      1103.6        1927

     Unnamed: 58 Unnamed: 59
0         2Y Ger       2Y US
1              H           H
2            NaN         NaN
3            NaN         NaN
4     DU1 Comdty  TU2 Comdty
...          ...         ...
1149      112.14  110.382812
1150      112.09  110.386719
1151      112.12   110.28125
1152     112.115  110.292969
1153       112.1  110.292969

[1154 rows x 60 columns]

In [ ]:
download = pd.read_excel(data_path, sheet_name="Download")
metadata = pd.read_excel(data_path, sheet_name="Metadata")
ews = pd.read_excel(data_path, sheet_name="EWS")

In [ ]:
download

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,EURUSDV3M Index,NaN,NaN,"Fixed Income, MM & Interbank",NaN,NaN,NaN,NaN,NaN,NaN,...,Treasury,Gold,Brent,S&P,Eurostoxx,Nasdaq,EM,Japan,2Y Ger,2Y US
1,NaN,NaN,Show/Hide data,S,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H
2,676,NaN,Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Index Currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Ticker,XAU BGNL Curncy,ECSURPUS Index,BDIY Index,CRY Index,DXY Curncy,JPY Curncy,GBP Curncy,...,TY1 Comdty,GC1 Comdty,CO1 Comdty,ES1 Index,VG1 Index,NQ1 Index,LLL1 Index,TP1 Index,DU1 Comdty,TU2 Comdty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,NaN,NaN,2021-03-23 00:00:00,1727.96,0.339,2271,184.5022,92.336,108.72,1.376,...,131.921875,1725.1,60.79,3899.8,3773,13006.25,1103.6,1958.5,112.14,110.382812
1150,NaN,NaN,2021-03-30 00:00:00,1685.56,0.303,2103,184.8741,93.297,110.29,1.3719,...,131.1875,1683.9,64.14,3947.7,3872,12878.25,1103.6,1978,112.09,110.386719
1151,NaN,NaN,2021-04-06 00:00:00,1743.28,0.44,2092,185.8393,92.335,109.88,1.3822,...,131.6875,1741.5,62.74,4064,3920,13570,1103.6,1955,112.12,110.28125
1152,NaN,NaN,2021-04-13 00:00:00,1742.69,0.467,2140,188.1368,91.852,109.19,1.3737,...,132.078125,1746.2,63.67,4132.8,3917,13975.75,1103.6,1961.5,112.115,110.292969
1153,NaN,NaN,2021-04-20 00:00:00,1779.72,0.492,2432,193.8035,91.147,108.09,1.3951,...,132.546875,1774.9,66.51,4127,3902,13802.75,1103.6,1927,112.1,110.292969

In [ ]:
metadata

,In order to understand the business nature of these data:,Unnamed: 1,Unnamed: 2
0,1) Look below Table 1 for the features,NaN,NaN
1,"2) Alternatively/in addition, Google the strin...",NaN,NaN
2,NaN,NaN,NaN
3,Note,NaN,NaN
4,"What you find in the sheet ""DownloadBLB"" is a ...",NaN,NaN
5,NaN,NaN,NaN
6,Response variable,NaN,NaN
7,Y,"manually tagged: Y=1 if abnormal risk/crisis, ...",NaN
8,Features,NaN,NaN
9,Table 1,NaN,NaN
10,Name,Currency,Bloomberg Ticker
11,Gold Spot $/Oz,XAU,XAU BGNL
12,Bloomberg ECO US Surprise Index,#N/A Field Not Applicable,ECSURPUS
13,Baltic Dry Index,USD,BDIY
14,TR/CC CRB ER Index,USD,CRY
15,DOLLAR INDEX SPOT,USD,DXY
16,Japanese Yen Spot,JPY,JPY
17,British Pound Spot,GBP,GBP
18,Generic 1st 'CL' Future,USD,Cl1
19,Cboe Volatility Index,USD,VIX
20,US Generic Govt 30 Yr,USD,USGG30YR
21,US TREASURY N/B,USD,GT10
22,US Generic Govt 2 Yr,USD,USGG2YR
23,US Generic Govt 3 Mth,USD,USGG3M
24,ICE LIBOR USD 1 Month,USD,US0001M
25,BUNDESREPUB. DEUTSCHLAND,EUR,GTDEM30Y
26,BUNDESREPUB. DEUTSCHLAND,EUR,GTDEM10Y
27,BUNDESSCHATZANWEISUNGEN,EUR,GTDEM2Y
28,EMMI EURO OverNight Index Aver,EUR,EONIA
29,BUONI POLIENNALI DEL TES,EUR,GTITL30YR
30,BUONI POLIENNALI DEL TES,EUR,GTITL10YR
31,BUONI POLIENNALI DEL TES,EUR,GTITL2YR
32,JAPAN (30 YEAR ISSUE),JPY,GTJPY30YR
33,JAPAN (10 YEAR ISSUE),JPY,GTJPY10YR
34,JAPAN (2 YEAR ISSUE),JPY,GTJPY2YR
35,UK TSY 0 5/8% 2050,GBP,GTGBP30Y
36,UK TSY 1 1/4% 2041,GBP,GTGBP20Y
37,UK TSY 0 1/8% 2023,GBP,GTGBP2Y
38,U.S. MBS,USD,LUMSTRUU
39,Municipal Bond Index,USD,LMBITR
40,Corporate,USD,LUACTRUU
41,US Corporate High Yield,USD,LF98TRUU
42,Global High Yield,USD,LG30TRUU
43,Pan-European High Yield,EUR,LP01TREU
44,EM USD Aggregate,USD,EMUSTRUU
45,Global Inflation-Linked,USD,LF94TRUU
46,MSCI USA,USD,MXUS
47,MSCI EUROPE,EUR,MXEU
48,MSCI JAPAN,JPY,MXJP
49,MSCI BRAZIL,USD,MXBR
50,MSCI RUSSIA,USD,MXRU
51,MSCI INDIA,INR,MXIN
52,MSCI CHINA,HKD,MXCN

In [ ]:
ews

,Y,Data,XAU BGNL,ECSURPUS,BDIY,CRY,DXY,JPY,GBP,Cl1,...,LP01TREU,EMUSTRUU,LF94TRUU,MXUS,MXEU,MXJP,MXBR,MXRU,MXIN,MXCN
0,0,2000-01-11,283.25,0.077,1388,157.2600,100.560,105.86,1.6460,25.77,...,116.4635,230.5267,123.7616,1416.12,127.75,990.59,856.76,224.33,217.34,34.30
1,0,2000-01-18,287.65,0.043,1405,165.0100,101.860,105.47,1.6383,28.85,...,117.2674,231.3770,123.7616,1428.79,129.50,993.98,925.22,234.37,227.08,32.74
2,0,2000-01-25,287.15,0.135,1368,167.2400,102.410,106.04,1.6496,28.28,...,117.9946,232.3895,123.7616,1385.93,126.48,974.83,886.93,216.82,233.00,32.46
3,0,2000-02-01,282.75,0.191,1311,166.8500,104.920,107.85,1.6106,28.22,...,120.5100,231.9417,122.3281,1385.31,129.19,1007.12,842.60,201.89,237.48,31.29
4,1,2000-02-08,298.40,0.312,1277,165.4300,104.220,109.30,1.6108,28.02,...,118.7914,237.8117,122.3281,1411.95,134.67,1034.58,945.15,218.00,258.02,31.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,0,2021-03-23,1727.96,0.339,2271,184.5022,92.336,108.72,1.3760,57.76,...,427.7972,1249.4030,389.8500,3800.77,140.32,1199.57,1671.73,681.21,1695.96,110.83
1107,0,2021-03-30,1685.56,0.303,2103,184.8741,93.297,110.29,1.3719,60.55,...,428.6578,1242.2640,385.8145,3835.96,142.76,1206.29,1635.57,693.38,1690.76,108.80
1108,0,2021-04-06,1743.28,0.440,2092,185.8393,92.335,109.88,1.3822,59.33,...,430.6649,1250.2560,390.6819,3955.16,144.13,1194.62,1689.62,673.20,1689.48,111.92
1109,0,2021-04-13,1742.69,0.467,2140,188.1368,91.852,109.19,1.3737,60.18,...,430.4087,1252.5630,390.3848,4027.05,144.23,1197.06,1680.82,680.23,1672.46,108.40
1110,0,2021-04-20,1779.72,0.492,2432,193.8035,91.147,108.09,1.3951,62.50,...,431.5528,1261.6780,395.3388,4043.69,146.39,1196.16,1751.34,685.43,1656.19,110.31